<div class="row container center-block">
  <div class="col-xs-12">
    <h3> Search Results: </h3>
  </div>
</div>
<div class="row container center-block">
  <% if @movies.all.length > 0 %>
    <% @movies.all.each do |movie| %>
      <div class="col-xs-12 col-md-4">
        <a href="/movies/<%= movie.id %>">

          <img class=".img-responsive" src="<%= movie.poster_url %>" title="<%= movie.name %>" style="min-width: 300px; min-height=300px;">
        </a>
      </div>
    <% end %>
  <% else %>
    <div class = "col-xs-12 col-md-12">
      <div class="alert alert-danger error" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error: No results found</span>
          No results found
      </div>
    </div>
  <%end%>
</div>